{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Donate Blood Save Life</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon.ico" rel="icon">
  <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

  <style>
    .ourclass{
        background: url("1.jpg") !important;
    }
</style>




  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center">
      <a class="navbar-brand" href="#">
        <img src="drop.png" width="28" height="45" alt="">
      </a>
      <h1 class="logo me-auto text-white"><a href="index.html">Donate Blood<span>,</span>&nbsp;
         Save Life<span>.</span></a></h1>
      

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="{% url 'bloodsave.html">Need Blood?</a></li>
          <li><a class="nav-link scrollto" href="#services">Become A Donor</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">About Us</a></li>
          
          
          <li class="dropdown"><a href="#"><span>Charity Work</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Our Free Book Distribution Campaign</a></li>
              <li class="dropdown"><a href="#"><span>Free Medical Aid And Advice</span> 
             
            
              
              <li><a href="#">Gallery</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
      
    </div>

    

    
  </header>
  <body class="ourclass" style="background-color:  #acdcee;">
  <div class="container py-5 mt-5 m-0 pl-5" data-aos="fade-up">

    <div class="row no-gutters">
      <div class="content align-items-center">
        <div class="content">
          <strong><h3 class="text-white">আমরা সর্বদা আপনার পাশে আছি।</h3></strong>
          <p>
            <strong><h4 class="text-white">কবে, কখন রক্ত প্রয়োজন সেটি আমাদের জানিয়ে দিন ফরম পূরণ করার মাধ্যমে, ইনশাআল্লাহ্‌, আমরা সংগ্রহ করে দেওয়ার সর্বোচ্চ চেষ্টা করবো।</h4></strong>
          </p>
          <a href="#" class="about-btn"><span>About us</span> <i class="bx bx-chevron-right"></i></a>
        </div>
      </div>
</body>


